@media screen and (min-width: 700px){
    .about{
        padding: 45px;
        p{
            width: 80%;
            margin: auto;
        }
        .btn{
            width: 30%;
        }
    }

    .work{
        padding: 45px 0;
        .card{
            padding: 20px;
            margin-top: 45px;
            width: 75%;
            p{
                width: 80%;
                margin: 10px auto 0 auto;
            }
            .thisPro{
                margin-top: 20px;
                width: 35%;
            }
        }
    }
    
    .contact{
        .only{
            width: 75%;
            margin: 20px auto 0 auto;
        }
    }
}

@media screen and (min-width: 1000px){
    .about{
        p{
            width: 60%;
        }
    }
    .work{
        padding: 50x 0 ;
        .card-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .card{
            width: 87%;
            p{
                width: 80%;
            }
        }
    }
}
