.box{
    width: 30px;
    height: 30px;
    border: solid 1px  black;
    margin-bottom: 10px;
    border-radius: 50%;
    border: none;
}
.box-btn{
    width: 40px;
    height: 40px;
}
.main-box{
    margin-bottom: 25px;
    border: solid 1px black;
}
.set-code{
    display: flex;
    justify-content: space-around;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.hide{
    display: none;
}
.unhide{
    display: block;
}